h1{
    font-family: Big Shoulders Display;
    font-size: 2.5rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.5rem;
}
p, li{
    width: 80%;
    color: #909090;
    font-size: 1.3rem;
    text-align: justify;
    margin: 1rem 0;
    b{
        font-weight: 400;
        color: #fff;
        font-size: 1.5rem;
    }
}
.desc{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr;
}