@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    padding: 0;
    margin: 0;
    font-family: Roboto;
    background: #191919;
    color: #fff;
}