@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

.login{
    min-height: 100vh;
    background: url("bg-login.png") no-repeat center;
    background-size: 100%;
}
.tag{
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}