@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Oswald;
  background-color: #191919;
  color: #fff;
}